#cy {
  width: auto;
  height: 500px;
  display: block;
}

#table-graph {
  width: auto;
  height: 500px;
  display: block;
}

.outlined {
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
}

.no-result {
  display: none;
}

#input-query {
  height: 150px;
}
