<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nixpkgs explorer</title>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cy.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/htmx.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="twelve columns">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <img src="{{ url_for('static', filename='img/line-chart.png') }}" width="45" height="45"></img>
            <h3 style="margin: 0;">Nixpkgs Dependency Explorer</h3>
          </div>
        </div>
      </div>

      <p>

      <div class="row">
        <div class="twelve columns">
          {% block content %}{% endblock %}
        </div>
      </div>

    </div>
    {% block js %}
    <!-- <script src="/assets/js/app.js"></script> -->
    {% endblock %}
  </body>
</html>
