{% extends "base.html" %}
{% block title %}Nixpkgs Dependency Explorer{% endblock %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      {% include "query_form.html" %}
    </div>
  </div>
  <div id="query-result"></div>
  <div id="query-results" class="row">
    <div class="six columns">
      <div id="cy">
      </div>
    </div>
    <div class="six columns">
      <div id="table-graph">
      </div>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/src/graph.js') }}"></script>
{% endblock %}
