{% extends "base.html" %}
{% block title %}Nixpkgs Dependency Explorer{% endblock %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      {% include "query_form.html" %}
    </div>
  </div>
  <div id="query-result">
    <div id="query-results-raw" class="row">
      <div class="twelve columns">
        <textarea id="raw-data" rows="8" cols="100">
        </textarea>
      </div>
    </div>
    <div id="query-results-graph" class="row">
      <div class="twelve columns">
        <div id="cy">
        </div>
      </div>
    </div>
    <p>
    <div id="query-results-table" class="row">
      <div class="twelve columns">
        <div id="table-graph">
        </div>
      </div>
    </div>
  </div>

<script src="{{ url_for('static', filename='js/src/graph.js') }}"></script>
{% endblock %}
